<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a [routerLink]="['/servers',server.id]" [queryParams]="{'isAllowd' : server.id===1 ? true : false}" fragment="loadings"
        href="#" class="list-group-item" *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="onRelodServers()">on reload servers</button>
    <router-outlet></router-outlet>
  </div>
</div>